{% extends "core/base.html" %}
{% load bootstrap4 %}
{% block title %}Log-in{% endblock title %}
{% block content %}
<div class="mx-auto align-middle m-5 p-3 col-sm-3 pt-3 shadow">
  <h1>Log-in</h1>
  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% else %}
  <p>Please, use the following form to log-in:</p>
  {% endif %}
    <p>
    <a href="{% url 'password_reset' %}">Forgotten your password?</a>
    </p>
  <form action="{% url 'login' %}" method="post" class="no-border">
      {% bootstrap_form form %} {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" class="form-control" />
      <p><button type="submit"class="btn btn-primary btn-block"> Log in </button>
      </p>
    </div>
  </form>
  
</div>
{% endblock content %}