{% extends "core/base.html" %}
{% load bootstrap4 %}
{% block title %}Edit your account{% endblock title %}
{% block content %}
<div class="mx-auto align-middle m-5 p-3 col-sm-3 pt-3 shadow">
    <h1>Edit your account</h1>
    <p>You can edit your account using the following form:</p>
    <form method="post" enctype="multipart/form-data">
        {% bootstrap_form user_form %}
        {% bootstrap_form profile_form %}
        {% csrf_token %}
        <p><button type="submit" class="btn btn-primary btn-block"> Save Changes </button></p>
    </form>
</div>
{% endblock content %}